<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChildcareApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ChildcareApplication.Properties.Settings>
            <setting name="BillingStartDate" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxMonthlyFee" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HoldExpiredRecords" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="InfantMaxAge" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RegularMaxAge" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MonOpen" serializeAs="String">
                <value>04/13/2015 08:00:00</value>
            </setting>
            <setting name="MonClose" serializeAs="String">
                <value>04/13/2015 19:00:00</value>
            </setting>
            <setting name="TueOpen" serializeAs="String">
                <value>04/13/2015 08:00:00</value>
            </setting>
            <setting name="TueClose" serializeAs="String">
                <value>04/13/2015 19:00:00</value>
            </setting>
            <setting name="WedOpen" serializeAs="String">
                <value>04/13/2015 08:00:00</value>
            </setting>
            <setting name="WedClose" serializeAs="String">
                <value>04/13/2015 19:00:00</value>
            </setting>
            <setting name="ThuOpen" serializeAs="String">
                <value>04/13/2015 08:00:00</value>
            </setting>
            <setting name="ThuClose" serializeAs="String">
                <value>04/13/2015 19:00:00</value>
            </setting>
            <setting name="FriOpen" serializeAs="String">
                <value>04/13/2015 08:00:00</value>
            </setting>
            <setting name="FriClose" serializeAs="String">
                <value>04/13/2015 20:00:00</value>
            </setting>
            <setting name="SatOpen" serializeAs="String">
                <value>04/13/2015 08:00:00</value>
            </setting>
            <setting name="SatClose" serializeAs="String">
                <value>04/13/2015 12:30:00</value>
            </setting>
            <setting name="SunOpen" serializeAs="String">
                <value>2015-04-13</value>
            </setting>
            <setting name="SunClose" serializeAs="String">
                <value>2015-04-13</value>
            </setting>
            <setting name="DefaultSaveFolder" serializeAs="String">
                <value />
            </setting>
        </ChildcareApplication.Properties.Settings>
    </userSettings>
</configuration>